<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jorge Casero</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  </head>
  <body>
  <!-- Plain old HTML and jinja2 nav bar goes here -->
  <header>
    <nav>
      <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
      </div>
      <a href="#">
        <div id="logoID" class="logo">
          LOGO
        </div>
      </>
      <div class="menu">
        <ul>
         <li><a href="#">Home</a></li>
         <li><a href="#">Projects</a></li>
         <li><a href="#">Vinyl Collection</a></li>
         <li><a href="#">Fantasy Manager</a></li>
         <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>

    <div class="homeImgContainer homeImgOne bg-center-center">
      <div class="homeImgCenter">
        <h1 class="homeTitle">
          JORGE CASERO
        </h1>
        <h3 class="homeDescription">
          Junior at the University of Michigan–majoring in Computer Science
          and minoring in Economics, I'm passionate about learning.
          My hobbies include talking about sports, music, and cooking.
          Let's connect!
        </h3>
      </div>
      <div class="homeMoreContainer">
        <h3 class="homeMore">Learn More</h3>
      </div>
    </div>
    <div class="resumeContainer">
        <div class="resumeContainerLeft">
          <img class="resumeImgContainer" src="{{ url_for('static', filename='images/IMG_2294.jpg') }}">
          <a href="{{ url_for('static', filename='files/resume.pdf') }}" class="btn-rounded-white">Get Resume</a>
        </div>
        <div class="resumeContainerMiddle">
          <div class="relevantCourses">
            <h3>Relevant Coursework</h3>
            <h5>&#8226 EECS 281: Data Structures and Algorithms</h5>
            <h5>&#8226 EECS 370: Introduction to Computer Organization</h5>
            <h5>&#8226 EECS 376: Foundations of Computer Science</h5>
            <h5>&#8226 EECS 482: Operating Systems</h5>
            <h5>&#8226 EECS 485: Web Systems</h5>
            <h5>&#8226 EECS 486: Info Retrieval</h5>
            <h5>&#8226 ECON 401: Intermediate Microeconomic Theory</h5>
            <h5>&#8226 EECS 452: Statistics and Econometrics</h5>
          </div>
        </div>
        <div class="resumeContainerRight">
          <div class="relevantCourses">
            <h3>Projects</h3>
          </div>
        </div>
    </div>
    <!-- Load JavaScript -->
    <!-- Load JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle_header.js') }}"></script>
  </body>
  <!-- Load JavaScript -->
</html>
